/*
  Configuração do menu horizontal
*/
.menu {
  height: 40px;
  border: 1px solid rgb(214, 46, 16);
  background-color: #F23005;
  padding-bottom: 8px;
  font-size: 16px;
}

.navMenu ul {
  list-style: none;
  text-align: left;
}

.navMenu ul li{
  display: inline;
}

.navMenu ul li a{
  padding-left: 1.2vw;
  display: inline-block;
  color:white;
  text-decoration: none;
}

.navMenu ul li a:hover {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/*
  Final das configurações do menu horizontal
*/

/*
  Início das configurações das seções
*/
#inicio, #cursos, #contatos, #parceiros, #missao, #sobre, footer {
  text-align: center;
  border: 1px solid black;
}

#inicio {
  height: 35vh;
  background-color:#f29f05;
}

#cursos {
  height: 40vh;
  background-color: yellow;
}

#contatos {
  height: 20vh;
  background-color: green;
}

#parceiros {
  height: 50vh;
  background-color: silver;
}

#missao {
  height: 20vh;
  background-color: cyan;
}

#sobre {
  height: 40vh;
  background-color: brown;
}

footer {
  height: 20vh;
  background-color: #F23005;
}

/*
  Configurações do retorno das âncoras laterais
*/
.irTopo, .irInicio, .irCursos, .irContatos, .irParceiros, .irMissao, .irSobre, irFooter {
  font-size: 12px;
  padding: 1vh;
  position: fixed;
  transition: 0.2s;
  right: 1vh;
  text-decoration: none;
  width: 90px;
  text-align: center;
  border-radius: 4px;
}

.irTopo:hover, .irInicio:hover, .irCursos:hover, .irContatos:hover, .irParceiros:hover, .irMissao:hover, .irSobre:hover {
  font-weight: bold;
  font-size: 15px;
}

.irTopo {
  bottom: 14vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irTopo:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.irInicio {
  bottom: 75vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irInicio:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.irCursos {
  bottom: 70vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irCursos:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.irContatos {
  bottom: 65vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irContatos:hover {
  background-color: rgb(112, 156, 141);
}

.irParceiros {
  bottom: 60vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irParceiros:hover {
  background-color: aquamarine;
}

.irMissao {
  bottom: 55vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irMissao:hover {
  background-color: aquamarine;
}

.irSobre {
  bottom: 50vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.irSobre:hover {
  background-color: aquamarine;
}
/*
  Configurações do aside (menu laterial esquerdo)
*/
.aside a {
  position: fixed;
  left: -5vw;
  transition: .2s;
  padding: 1vh;
  width: 4.5vw;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  border-radius: 0 6px 6px 0;
  font-weight: bold;
}

.aside a:hover {
  left: 0;
}

#inicio2 {
  top: 20vh;
  background-color: blue;
}

#curso2 {
  top: 25vh;
  background-color: red;
}

#contatos2 {
  top: 30vh;
  background-color: green;
}

#parceiros2 {
  top: 35vh;
  background-color: violet;
}

#missao2 {
  top: 40vh;
  background-color: yellow;
}

#sobre2 {
  top: 45vh;
  background-color: orangered;
}