.inicio, .cursos, .contatos, .parceiros, .missao, .sobre, footer {
  text-align: center;
  border: 1px solid black;
}

.inicio {
  height: 90vh;
  background-color:#f29f05;
}

#confirmar {
  margin: 10vh;
}

#logo {
  width: 320px;
  height: 160px;
}