
.inicio {
  background-color: #FECE01;
  height: 100vh;
  display: flex;
}

#logo {
  width: 240px;
  height: 86px;
  margin: 30px 4%;
}

#BackGround {

}

.text-1 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.text-2, .text-3, .text-4 {
  font-size: 50px;
  color: black;
  text-align: center;
}