.interface {
  background-color: #FECE01;
  height: 100vh;
  display: flex;
}

#logo {
  width: 240px;
  height: 86px;
  margin: 30px 4%;
}

.text-box {
  color: black;
  text-align: left;
  padding: 20% 10%;
  font-family: 'Roboto' sans-serif;
  position: absolute;
}

.text-1 {
  font-size: 30px;
  padding: 10px;
  font-style: lighter;
}

.text-2, .text-3, .text-4 {
  font-size: 50px;
  padding: 5px;
  font-weight: 750;
}

.text-1, .text-2, .text-3, .text-4 {
  margin: -20px;
}

#chat {
  width: 435px;
  height: 380px;
  position: static;
  margin: 0rem;
  margin-left: 0rem;
}

.text-chat-1, .text-chat-2, .text-chat-3, .text-chat-4 {
  color: black;
  text-align: center;
  font-family: 'Quicksand' sans-serif;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 15rem;
  margin: 0rem;
}

/*
  Configurações do menu lateral
*/

.aside a {
  position: fixed;
  left: -5vw;
  transition: .2s;
  padding: 3vh;
  width: 8vw;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
  border-radius: 0 6px 6px 0;
  font-weight: bold;
}

.aside a:hover {
  left: 0;
}

#inicio {
  top: 45vh;
  background-color: #9C00FD;
}

#sobre {
  top: 53vh;
  background-color: #E90128;
}

#cadastro {
  top: 61vh;
  background-color: #FD8C00;
}

#guia {
  top: 69vh;
  background-color: #02B4FE;
}

