/*
  Configuração do menu horizontal
*/
.menu {
    height: 45px;
    border: 0;
    background-color: #213A40;
    padding-bottom: 8px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .menu2 {
    height: 45px;
    border: 0;
    background-color: #213A40;
    padding-bottom: 8px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .navMenu ul, .navMenu2 ul {
    list-style: none;
    text-align: left;
  }
  
  .navMenu ul li, .navMenu2 ul li{
    display: inline;
  }
  
  .navMenu ul li a, .navMenu2 ul li a{
    padding-left: 1.2vw;
    display: inline-block;
    color:white;
    text-decoration: none;
  }
  
  .navMenu ul li a:hover, .navMenu2 ul li a:hover {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
