* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  height: 100px;
}

footer {
  background-color: #FECE01;
  height: 300px;
  margin-top: 70px;
}

.navbar {
  background-color: #FECE01;
}

.logo {
  margin-left: 15px;
  margin-top: 15px;
}

.container-text {
  margin-left: 250px;
  background-color: #FECE01;
}
