html,
body {
  width: 100vw;
  height: auto;
}

div#container {
  height: auto;
}

/* Configurações início */
div#inicio-full {
  background-color: #FECE01;
  background-image: url("/vegan_life/images/bg.png");
  width: 100vw;
  height: 100vh;
}

#logo {
  margin-left: 40px;
  margin-top: 50px;
}

#texto-inicio {
  width: 650px;
  height: 200px;
  margin-left: 300px;
  margin-top: 110px;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h4 {
  font-size: 30px;
  font-weight: 450;
}

h1, h4 {
  font-family: 'Roboto' sans-serif;
}

#balao {
  margin-left: 920px;
  margin-top: -350px;
}

#pesquisa {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background-color: #FECE01;
  border: solid 1.5px black;
  color: black;
  text-align: center;
  font-family: 'Quicksand';
  font-size: 16px;
  margin-left: 305px;
  margin-top: 100px;
}

/* Configurações Corpo acima */
.row {
  margin-left: 250px;
  margin-top: 100px;
}

.card {
  background-color: transparent;
  border: solid 1px black;
  border-radius: 15px;
  height: 380px;
  width: 350px;
}

#card1, #card2 {
  margin-top: 10px;
  margin-left: 80px;
}

h5 {
  font-family: 'Roboto' sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 23px;
}

.btn {
  background-color: #FD8C00 !important;
  font-family: 'Roboto' sans-serif;
  border-radius: 20px;
  font-weight: 600;
  color: black;
  width: 250px;
  margin-left: 30px;
  margin-top: 40px;
  font-size: 14px;
}

/* Configurações corpo abaixo */
#texto {
  width: 400px;
  height: 400px;
  margin-left: 270px;
  margin-top: 80px;
}

h2 {
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
  color: black;
  font-size: 35px;
}

#texto-corpo {
  font-family: 'Roboto' sans-serif;
  color: black;
  font-weight: 450;
  font-size: 25px;
}

#btn-sobre {
  width: 160px;
  margin-top: 10px;
  margin-left: 50px;
}

#imagem-corpo-abaixo {
  width: 500px;
  height: 500px;
  margin-left: 610px;
  margin-top: -400px;
}

/* Configurações rodapé */
footer {
  background-color: #FECE01 !important;
  height: 200px;
  padding: auto;
  bottom:0;
  width:100%;
  margin-top: 0;
}

#icones {
  margin-left: 610px;
}

#icon-fb, #icon-instagram {
  padding-left: 10px;
  margin-top: 60px;
}






