/* Configuração menu lateral */

.aside a {
    position: fixed;
    left: -5vw;
    transition: .2s;
    padding: 1vh;
    width: 4.5vw;
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
}
  
.aside a:hover {
    left: 0;
}