/* Configuração menu lateral */
.aside a {
    position: fixed;
    left: -5vw;
    transition: .2s;
    padding: 2.5vh;
    width: 7vw;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
    
  }
  
  .aside a:hover {
    left: 0;
  }
  
  #inicio {
    top: 45vh;
    background-color: #9C00FD;
    text-decoration: none;
    color: #000;
  }
  
  #sobre {
    top: 54vh;
    background-color: #E90128;
    text-decoration: none;
    color: #000;
  }
  
  #guia {
    top: 63vh;
    background-color: #FD8C00;
    text-decoration: none;
    color: #000;
  }
  
  #cadastro {
    top: 72vh;
    background-color: #02B4FE;
    text-decoration: none;
    color: #000;
  }
  