
header{
    background-color: #FECE01;
}

header .logo2 {
    margin-left: 1130px;
    margin-top: 35px;
}

main {
    background-color: #FECE01;
}


#corpo-esq {
    background-color: #FECE01;
    margin-left: 150px;
    text-align: justify;
}

#corpo-dir {
    background-color: #FECE01;
    width: 520px;
    margin-left: 700px;
    margin-top: -170px;
}

#img-sobre {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

p {
    padding-top: 10px;
    width: 480px;
    font-family: 'Quicksand';
    font-weight: bold;
}

h2 {
    font-family: 'Roboto' sans-serif;
    font-weight: bold;
}

#icon-fb, #icon-instagram {
   width: 35px;
   height: 35px;
   margin-left: 15px;
}

#icones {
    margin-left: 160px;
    margin-top: 35px;
}








